@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Robotolight.woff2') format('woff2'),
    url('../assets/fonts/Robotolight.woff') format('woff'),
    url('../assets/fonts/Robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto.woff2') format('woff2'),
    url('../assets/fonts/Roboto.woff') format('woff'),
    url('../assets/fonts/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Robotomedium.woff2') format('woff2'),
    url('../assets/fonts/Robotomedium.woff') format('woff'),
    url('../assets/fonts/Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Robotobold.woff2') format('woff2'),
    url('../assets/fonts/Robotobold.woff') format('woff'),
    url('../assets/fonts/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Robotoblack.woff2') format('woff2'),
    url('../assets/fonts/Robotoblack.woff') format('woff'),
    url('../assets/fonts/Robotoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
