* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import 'fonts';

.chat24-container {
  * {
    box-sizing: 'border-box';
    font-family: 'Roboto' sans-serif;
    padding: 0;
    margin: 0;
  }
  height: 'auto';
  max-height: 710;
  z-index: '999';
}

@import 'widget';
